{{!< layout}}
<div class="ac-content" id="content">
    <h3>Something went wrong</h3>
</div>
<style>
    #content {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 40px;
    }
    h1 {
        color: #d02a2a;
        flex-direction: column;
    }
</style>
