#editor-content {
  height: 100%;
}

.error {
  color: red;
}

iframe {
  width: 100vw;
  height: 100vh;
  border: none;
  outline: none;
}

#header {
  display: flex;
  justify-content: start;
  gap: 8px;
  align-items: center;
  padding: 0 24px;
}
#header img.logo {
  height: 40px;
}
#header .settings {
  position: relative;
  width: 24px;
  cursor: pointer;
}
#header .settings img {
  width: 100%;
}
#header .settings button.logout {
  position: absolute;
  transform: translateY(85%);
  display: none;
  white-space: nowrap;
  bottom: 0;
  left: 0;
}
#header .settings:hover button.logout {
  display: block;
}

.wrapper {
  display: flex;
  flex-flow: column nowrap;
  max-width: 450px;
  margin: 0 auto;
  padding: 16px 0;
}

#form-container {
  display: flex;
  flex-direction: column;
  padding: 20px 0;
  gap: 16px;
}

#form-container .form-row {
  display: flex;
  flex-flow: row nowrap;
  gap: 8px;
}
#form-container .form-row .label {
  color: var(--label-color);
  font-weight: bold;
  flex-basis: 50%;
}
#form-container .form-row .field {
  flex-grow: 1;
}

#diagram-container {
  display: flex;
  flex-direction: column;
  gap: 24px;
  justify-content: center;
  padding-bottom: 16px;
  border-bottom: 1px solid var(--border-color);
}
#diagram-container .diagram {
  border: 1px solid var(--border-color);
  border-radius: 8px;
  display: flex;
  justify-content: center;
}
#diagram-container .diagram .image {
  display: flex;
  justify-content: center;
}
#diagram-container .diagram .image img {
  width: 100%;
}
#diagram-container .select-buttons {
  display: flex;
  gap: 16px;
  padding: 0 32px;
  justify-content: center;
}

#page-spinner {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

#login-container {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 32px;
  font-weight: bold;
  width: 210px;
  margin: 0 auto;
  text-align: center;
}
#login-container img.logo {
  max-height: 50px;
}
#login-button {
}
